.cssModulesSample {
    padding: 10px;
    border: 2px solid #dede00;
    border-radius: 5px;
    box-shadow: #dd6 5px 5px 5px 0;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}